services:
  namenode:
    image: apache/hadoop:3.4.1
    container_name: namenode
    hostname: namenode
    user: root
    environment:
      - HADOOP_HOME=/opt/hadoop
      - HADOOP_CONF_DIR=/opt/hadoop/etc/hadoop
    volumes:
      - ./conf:/opt/hadoop/etc/hadoop
      - ./data/namenode:/opt/hadoop/data/nameNode
      - ./scripts:/scripts
    entrypoint: ["/bin/bash", "/scripts/start-hdfs.sh"]
    ports:
      - "9870:9870"   # Namenode
      - "9000:9000"   # HDFS
      - "8088:8088"   # Yarn

  datanode1:
    image: apache/hadoop:3.4.1
    container_name: datanode1
    hostname: datanode1
    depends_on:
      - namenode
    volumes:
      - ./conf:/opt/hadoop/etc/hadoop
      - ./data/dataNode:/opt/hadoop/data/dataNode
      - ./scripts:/scripts
    entrypoint: ["/bin/bash", "/scripts/init-datanode.sh"]

  datanode2:
    image: apache/hadoop:3.4.1
    container_name: datanode2
    hostname: datanode2
    depends_on:
      - namenode
    environment:
      - HADOOP_HOME=/opt/hadoop
      - HADOOP_CONF_DIR=/opt/hadoop/etc/hadoop
    volumes:
      - ./conf:/opt/hadoop/etc/hadoop
      - ./data/dataNode:/opt/hadoop/data/dataNode
      - ./scripts:/scripts
    entrypoint: ["/bin/bash", "/scripts/init-datanode.sh"]